@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
	background-color: white;
	padding: 20px 20px;
	border-radius: 10px;
	max-width: 1000px;
	margin: 30px auto 30px auto;
}

.home-list-link:hover div {
	background-color: #FEFBEB;
	border-radius: 5px;
}

.d-list-link:hover {
	background-color: #FEFBEB;
	border-radius: 5px;
}
